include ./mixins

doctype html
html
  head
    title=title
    block head
      link(href=baseUrl + "/css/bootstrap.css" rel="stylesheet")
      link(href=baseUrl + '/css/custom.css' rel='stylesheet')
  body
    +header(appName, loggedInUser, baseUrl, models, active, logoutLink)
    block messages
      if messages
        each message in messages
          - var typeClass = message.type === 'error' ? 'danger' : message.type
          div(class='alert alert-dismissible alert-' + typeClass role='alert')
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") &times;
            =message.message
    #modal-container
    block content
    block footer
    script.
      window.ADMIN_LOCALS = {
        baseUrl: "#{baseUrl}",
        templates: {}
      };    
    script(src=baseUrl + '/js/jquery.js')
    script(src=baseUrl + '/js/bootstrap.js')
    script(src=baseUrl + '/js/underscore.js')
    script(src=baseUrl + '/templates/modal.js')
    block scripts
